#welcoming img{
  height:auto;
  width: 70%;
  border-radius:50%;
}
#welcoming {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(21, 153, 87, .2));
  padding:10px;
  margin-top:20px;
  margin-bottom:20px;
}
