#welcoming img{
  height:100px;
  width: 100px;
  border-radius:50px;
}
#welcoming {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(21, 153, 87, .2));
  padding:10px;
  margin-top:20px;
  margin-bottom:20px;
}
