body {
  background-color: rgba(0, 0, 0, 0.83);
  color: silver;
}
#welcoming img {
  height:auto;
  width: 50%;
  border-radius:50%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
}
#welcoming {
  background: linear-gradient(to left, rgba(21, 153, 87, .3), rgba(23, 113, 145, .3));
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:20px;
  margin-bottom:20px;
  color:silver;
}
h3 {
  color: rgb(23, 113, 145);
}
.main-content hr{
  height:1px;
  background-color: #3b3b3b;
}
.page-header{
  padding:1rem;
}
@media screen and (max-width: 558px) {
  #welcoming img{
    height:auto;
    width: 100%;
    border-radius:50%;
  }
}
